* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0;
    background-color: purple}
.mySlides {display: none}
img {vertical-align: middle;
    margin-top: 20%;
    margin: 4% 10%;
}

/* container */
.container {
    background-color: white;
    margin-top: 55px;
    margin-right: 20%;
    margin-left: 30%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.options {
    width: 80%;
    padding: 10px 10px;
    margin: 10px 20px;
    margin-left: 25px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: bold;
    position: relative;
    align-content: center;
    color: #ccc;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: bold;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: bold;
}


input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: bold;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(73, 38, 49);
}

form {
    margin: 4px 20px;
    margin-right: 50px;
}

a {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-top: 30%;
    text-decoration: none;
    color: #bbb;
    margin: 4px 20px;
    margin-right: 50px;
}
